{% extends "base/base.html" %}

{% block title %}パスワード変更 | NAGOYAMESHI{% endblock %}

{% block content %}
  <h1>パスワード変更</h1>

  <form method="post">
    {% csrf_token %}

    <div>
      <label>現在のパスワード：</label><br>
      {{ form.old_password }}
      {{ form.old_password.errors }}
    </div>

    <div>
      <label>新しいパスワード：</label><br>
      {{ form.new_password1 }}
      {{ form.new_password1.errors }}
    </div>

    <div>
      <label>新しいパスワード（確認）：</label><br>
      {{ form.new_password2 }}
      {{ form.new_password2.errors }}
    </div>

    <div>
      <button type="submit">変更する</button>
      <a href="{% url 'mypage' %}">戻る</a>
    </div>
  </form>
{% endblock %}
